.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

/* Trust.jsx */
/* Add hover effect for the brand images */
.brand-img {
    transition: transform 0.3s ease-in-out;
  }
  
  .brand-img:hover {
    transform: scale(1.1); /* Slight zoom effect on hover */
  }
  
  /* Abouts page */

  /* fade-in animation */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-in-out forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* hover zoom effect for images */
.hover-zoom {
  transition: transform 0.3s ease-in-out;
}

.hover-zoom:hover {
  transform: scale(1.05);
}

/* hover effect on text boxes */
.hover-shadow {
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.hover-shadow:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

/* slide up effect for testimonial */
.slide-up {
  animation: slideUp 1s ease-in-out forwards;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
